.login-card{
    padding: 15px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--primary);
    height: 440px !important;
    width: 400px !important;
    box-shadow: -3px 10px 30px -3px rgba(0,0,0,0.75);
}

.login-btn{
    width: 100%;
    text-align: center;
}

.login-btn .btn-primary button{
    width: 100%;
    margin-bottom: 13px;
}

.login-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.forget-password{
    color: var(--primary);
    font-size: 14px;
}

.forget-password:hover{
    text-decoration: underline;
}