
.footer-contents {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  text-align: center;
  font-weight: 500;
  margin-left: var(--sidebar-width);
  padding-left: 25px;
}

.footer-text{
  display: flex;
  flex-wrap: wrap; 
}

.footer-text, .eddha-link, .policy, .eddha-contact{
  color: var(--black);
}
.policy:hover,.eddha-link:hover, .eddha-contact:hover{
  color: var(--primary);
}


.footer-links{
  display: flex;
}

.policy {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (width <= 800px) {
    .footer-contents{
        margin-left: 0px;
    }
}


@media screen and (max-width:426px) {

  .footer-contents{
    font-size: 11px;
    margin-bottom: 10px;
    
  }

  .footer-text{
    flex-direction: column;
  }

  .policy {
    margin-left: 0px;
  } 

}



